/* css provenant de codepen pour les images profils */
*, *::before, *::after {
    box-sizing: border-box;
  }
/* fin de ce css particulier, suite plus en bas */

/* toutes mes fonts importées */

@font-face {
  font-family: "UbuntuMono-Regular";
  src: url('../font/UbuntuMono-Regular.ttf');
}

@font-face {
  font-family: "Mali-Bold";
  src: url('../font/Mali-Bold.ttf');
}

@font-face {
  font-family: "Itim-Regular";
  src: url('../font/Itim-Regular.ttf');
}

/* fin des fonts */
/* pour le bug bootstrap de l'image-file */
.custom-file-input{
  opacity: 1 !important;
}

body{
    /* background: url(../img/bgFusion.webp);
    background-position: center center;
    background-size: cover; */
    color: #db690b;
    font-family: "UbuntuMono-Regular";
}

/* début de la nav */
.logoTitreMenu{
    background-color: #db690b;
}

.logoSm{
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to top, 
      white, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.logoSm a{
  text-decoration: none;
}

.titleSm{
    font-family: 'Itim-Regular';
    color: white;
    font-size: .8rem;
  }

/* les boutons du menu */
.boutonMenu{
    border: 1px solid white;
    color: white;
}

.boutonMenu:hover{
    background-color: white;
    color: #FF8C2C;
    font-weight: bold;
    border: 1px solid white;
}

/* dropdown menu */
.dropdown-menu a button{
  color: white;
  width: 7rem;
  font-weight: bold;
}
.dropdown-menu{
  background: #FF8C2C !important;
  border: 1px solid white !important;
  
}
.dropdown-menu a:hover{
  background: none !important;
}
.dropdown-menu a button:hover{
  color: #FF8C2C;
  font-weight: bold;
  background: white !important;
}
/* fin de la nav */

.listing{
  background-color: #db690b;
  color: white;
  border: 3px solid white;
  box-shadow: 5px 5px 10px #db690b;
}

.listing a{
  color:white;
}

.accueil{
      font-size: 1.5rem;
      color: white;
      letter-spacing: .2rem;
      background-color: #db690b;
      border-radius: 5px;
      padding: 2rem;
      border: 3px solid white;
      box-shadow: 5px 5px 10px #db690b;
}

.accueil img{
  max-width: 20%;
}

.accueil h1{
  font-size: 4rem;
  font-family: 'Itim-Regular';
}

.titre{
  background-color: #db690b;
  border-radius: 5px;
  padding: 2rem;
  border: 3px solid white;
  box-shadow: 5px 5px 10px #db690b;
}

h1{
  color: white;
  text-shadow: #db690b 1px 1px, #db690b -1px 1px, #db690b -1px -1px, #db690b 1px -1px;
  font-size: 4rem;
  text-shadow:5px 5px 5px #db690b;
}

.boutonProfil{
    border: 1px solid #db690b;
    color: #db690b;
    background-color: white;
    box-shadow: 2px 2px 5px #db690b;
}

.boutonProfil:hover{
    border: 3px solid white;
    font-weight: bold;
    color: white;
    background-color: #db690b;
}

.boutonFormulaire{
  background-color: #db690b;
}

.boutonFormulaire:hover{
  font-weight: bold;
  color: #db690b;
  background-color: white;
}

.add{
  background-color: #db690b;
}

.add:hover{
  font-weight: bold;
  color: #db690b;
}

.crud a{
  color: #db690b;
}

.formulaire{
  font-size: 2rem;
}

/* pagination du back */
.paginate_button .page-link{
  background-color: #fca661 !important;
  margin-bottom: 1rem;
}

/* pagination searchbar */
.pagination{
  margin: auto;
  letter-spacing: .2rem;
}


/* le footer */
.topFooter, .bottom-footer{
  background-color: #db690b;
  color: white;
  font-size: 1.2rem;
}

.bottom-footer a{
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.topFooter a{
  color: white;
}

#reseauxSoc{
  display: flex;
  justify-content: space-around;
}

#sponsors{
  text-align: center;
}
/* fin de footer */

.form-control{
  max-width: 75%;
}


#aidePassword, #aidePhoto{
  color: white !important;
  font-size: small;
}

.profil-public{
  font-size: 1.5rem;
  color: white;
  background-color: #db690b;
  border-radius: 5px;
  padding: 2rem;
  border: 3px solid white;
  box-shadow: 5px 5px 10px #db690b;
}

.profil-public img{
  border-radius: 5px;
  box-shadow: 2px 2px 5px white;
}

.aide_profil{
  background-color: rgba(255, 255, 255, 0.089);
  border: 1px solid white;
  border-radius: 5px;
}

#expoPhoto{
  font-size: small;
}

/* reglages images profil
https://codepen.io/tiggr/pen/rOOmye
 */

 .tile-wrap {
    display: inline-block;
    position: relative;
    /* margin: 2rem 5rem; */
    overflow: hidden;
    border: solid 5px white;
    box-shadow: 2px 2px 5px white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #db690b;
  }
  .tile-wrap img{
    max-width: 80%;
    border: 5px solid #db690b;
    border-radius: 5px;
  }

  .profil_joueur a{
    color: #db690b;
  }

  /* fin image profil */

  /* début de nouvelle ancre https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 2rem; /* Place the button at the bottom of the page */
    right: 1rem; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    background-color:transparent;
    color: #fa770b;
    text-shadow: 2px 2px 2px black !important;
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    font-size: 350%; /* Increase font size */
  }
  
  #myBtn:hover {
    color: #fca661;
  }

  html {
    scroll-behavior: smooth;
  }
  /* fin de la nouvelle ancre */
/*   
  .ancre{
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    cursor: pointer;
    border: none;
    background-color:transparent;
    font-size: 350%;
    color: #fa770b;
    text-shadow: 2px 2px 2px black !important;
  } */