{% extends 'base.html.twig' %}

{% block title %}Ajouter/modifier une Langue{% endblock %}

{% block content %}

<div class="row justify-content-around pt-5">
        <h1 class="titre mt-5 py-1">Ajouter/modifier une Langue</h1>
</div>

<div class="row py-5">

    <div class="listing col-md-4 justify-content-around offset-md-4 p-3">

        {{ form_start(formulaire) }}

            <div class="row my-3 justify-content-around">
                <div>
                {{ form_row(formulaire.nom) }}
                </div>
            </div>

            <div class="row my-5 justify-content-around">
                <button class="boutonMenu btn mb-3" type="submit">Valider</button>
            </div>
            
        {{ form_end(formulaire) }}

    </div>

</div>

{% endblock %}