{% extends 'base.html.twig' %}

{% block title %}Données Personnelles{% endblock %}

{% block content %}

    <div class="row justify-content-around pt-5">
        <h1  class="titre mt-5 py-1">Données Personnelles</h1>
    </div>

    <div class="row justify-content-around">
    
        <div class="col-md-10 accueil my-5">

            <h2>Introduction</h2>

            <p>Dans le cadre de son activité, la société <strong>Set & Match</strong>, dont le siège social est situé au 23 allée de la Toison d'Or 94000 Créteil - France, est amenée à collecter et à traiter des informations dont certaines sont qualifiées de "données personnelles". <strong>Set & Match</strong> attache une grande importance au respect de la vie privée, et n’utilise que des données de manière responsable et confidentielle et dans une finalité précise.</p>
            <hr>
            <h2>Données personnelles</h2>

            <p>Sur le site web <strong>set-&-match.com</strong>, il y a 2 types de données susceptibles d’être recueillies :</p>
            <ul>
                <li>Les données transmises directement</li>
                <li>Ces données sont celles que vous nous transmettez directement, via un formulaire de contact ou bien par contact direct par email. Sont obligatoires dans le formulaire de contact le champs «nom » et « email ».</li>
                <li>Les données collectées automatiquement</li>
                <li>Lors de vos visites, une fois votre consentement donné, nous pouvons recueillir des informations de type « web analytics » relatives à votre navigation, la durée de votre consultation, votre adresse IP, votre type et version de navigateur. La technologie utilisée est le cookie.</li>
            </ul>
            <hr>
            <h2>Utilisation des données</h2>

            <p>Les données que vous nous transmettez directement sont utilisées dans le but de vous re-contacter et/ou dans le cadre de la demande que vous nous faites. Les données « web analytics » sont collectées de forme anonyme (en enregistrant des adresses IP anonymes) par Google Analytics, et nous permettent de mesurer l'audience de notre site web, les consultations et les éventuelles erreurs afin d’améliorer constamment l’expérience des utilisateurs. Ces données sont utilisées par [Société], responsable du traitement des données, et ne seront jamais cédées à un tiers ni utilisées à d’autres fins que celles détaillées ci-dessus.</p>
            <hr>
            <h2>Base légale</h2>

            <p>Les données personnelles ne sont collectées qu’après consentement obligatoire de l’utilisateur. Ce consentement est valablement recueilli (boutons et cases à cocher), libre, clair et sans équivoque.</p>
            <hr>
            <h2>Durée de conservation</h2>

            <p>Les données seront sauvegardées durant une durée maximale de 3 ans.</p>
            <hr>
            {# <h2>Cookies</h2>

            <p>Voici la liste des cookies utilisées et leur objectif :</p>

            <ul>
                <li>Cookies Google Analytics (liste exhaustive) : Web analytics</li>
                <li>[Nom du cookie] : Permet de garder en mémoire le fait que vous acceptez les cookies afin de ne plus vous importuner lors de votre prochaine visite.</li>
            </ul>
            <hr> #}
            <h2>Vos droits concernant les données personnelles</h2>

            <p>Vous avez le droit de consultation, demande de modification ou d’effacement sur l’ensemble de vos données personnelles. Vous pouvez également retirer votre consentement au traitement de vos données.
            Contact délégué à la protection des données</p>
            <hr>
            <h2>Administrateur du site, personne à contacter</h3>

            <ul>
                <li>aziz.tobbal@fatz-studios.com</li>
                <li>06 71 54 82 13</li>       
            </ul>

        </div>

    </div>

{% endblock %}