{# css datepicker #}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/smoothness/jquery-ui-1.10.3.custom.css') }}"{% endblock %}


<form action="" method="post">

    <label class="mx-1 my-2" for="date_debut">A partir du </label>
    <input class="mx-1 my-2" type="text" id="dateDebut" name="dateDebut">

    <label class="mx-1 my-2" for="date_fin">Jusqu' au </label>
    <input class="mx-1 my-2" type="text" id="dateFin" name="dateFin">

</form>